<div class="w-full overflow-hidden bg-base-200 py-8">
  <div class="flex w-max gap-6 animate-infinite-scroll hover:[animation-play-state:paused]">

    <img src="https://picsum.photos/id/1015/600/300" class="w-96 rounded-box shadow-lg" />
    <img src="https://picsum.photos/id/1016/400/300" class="w-96 rounded-box shadow-lg" />
    <img src="https://picsum.photos/id/1018/400/300" class="w-96 rounded-box shadow-lg" />

    <!-- duplicadas -->
    <img src="https://picsum.photos/id/1015/600/300" class="w-96 rounded-box shadow-lg" />
    <img src="https://picsum.photos/id/1016/600/300" class="w-96 rounded-box shadow-lg" />
    <img src="https://picsum.photos/id/1018/600/300" class="w-96 rounded-box shadow-lg" />

    <!-- duplicadas -->
    <img src="https://picsum.photos/id/1015/600/300" class="w-96 rounded-box shadow-lg" />
    <img src="https://picsum.photos/id/1016/600/300" class="w-96 rounded-box shadow-lg" />
    <img src="https://picsum.photos/id/1018/600/300" class="w-96 rounded-box shadow-lg" />
  </div>
</div>

<section class="flex flex-col items-center gap-4 py-8">
  <button routerLink="mobile" class="btn btn-success">Mobile App</button>
</section>