<div class="w-full max-h-140 flex justify-center py-10 bg-base-200 overflow-hidden">
  
  <div 
    class="relative w-full max-w-225 aspect-4/3 perspective touch-none"
    (pointerdown)="onPointerDown($event)"
    (pointermove)="onPointerMove($event)"
    (pointerup)="onPointerUp()"
    (pointercancel)="onPointerUp()"
    (mouseleave)="onPointerUp()"
    (mouseenter)="pauseAutoPlay()"
    (mouseleave)="resumeAutoPlay()"
  >
    
    <!-- BOTONES -->
    <button 
      class="btn btn-circle bg-orange-500 border-white border-2 absolute left-2 top-1/2 -translate-y-1/2 z-50"
      (click)="prev()"
    >
      ❮
    </button>

    <button 
      class="btn btn-circle bg-orange-500 border-white border-2 absolute right-2 top-1/2 -translate-y-1/2 z-50"
      (click)="next()"
    >
      ❯
    </button>

    <!-- CONTENEDOR 3D -->
    <div 
      class="relative w-full h-full preserve-3d duration-700 ease-in-out"
      [ngClass]="{ 'transition-transform': !isDragging }"
      [style.transform]="transformStyle"
    >
      
      @for (slide of slides; track $index; let i = $index) {
        <div 
          class="absolute w-full h-full flex items-center justify-center"
          [style.transform]="'rotateY(' + (i * angle) + 'deg) translateZ(' + depth + 'px)'"
        >
          <div class="card w-[70%] md:w-[60%] lg:w-[50%] bg-base-100 shadow-2xl">
            <figure>
              <img [src]="slide.image" class="h-48 md:h-56 w-full object-cover"/>
            </figure>
            <div class="card-body">
              <h2 class="card-title text-lg md:text-xl">{{ slide.title }}</h2>
              <p class="text-sm md:text-base">{{ slide.description }}</p>
            </div>
          </div>
        </div>
      }

    </div>
  </div>
</div>
