/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";
@plugin "daisyui";

@font-face {
  font-family: 'Caveat';
  src: url('assets/fonts/Caveat-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PermanentMarker';
  src: url('assets/fonts/PermanentMarker-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

/* Chrome, Safari */
body::-webkit-scrollbar{
  display: none !important;
}

html::-webkit-scrollbar{
  display: none !important;
}

/* Para Firefox */
body {
  scrollbar-width: none !important; 
}

html {
  scrollbar-width: none !important; 
}

body {
  font-family: 'Roboto', sans-serif;
}

.font-caveat {
  font-family: 'PermanentMarker', cursive;
}

.font-marker {
  font-family: 'PermanentMarker', cursive;
}


.perspective {
  perspective: 1200px;
}

.preserve-3d {
  transform-style: preserve-3d;
}
