/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";
@plugin "daisyui";

@keyframes infinite-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@font-face {
  font-family: 'Caveat';
  src: url('assets/fonts/Caveat-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PermanentMarker';
  src: url('assets/fonts/PermanentMarker-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Roboto', sans-serif;
}

.font-caveat {
  font-family: 'PermanentMarker', cursive;
}

.font-marker {
  font-family: 'PermanentMarker', cursive;
}

.animate-infinite-scroll {
  animation: infinite-scroll 20s linear infinite;
}
